<div class="chat-container d-flex flex-column" style="height: calc(100vh - 150px); width: 90%; max-width: 450px; margin: 0 auto;">
  <!--Title -->
  <div class="card shadow-lg border-0 d-flex flex-row justify-content-center align-items-center p-2"
     style="border: 1px solid black; border-radius: 20px; background-color: white; margin-top: 100px">
    <%= image_tag "ivy.png", style: "width: 30px; height: 30px; margin-right: 15px;" %>
    <h1 class="mb-0" style="font-size: 1.45rem; font-weight: 600;">Ivy Calendar</h1>
  </div>
  <!-- Calendar -->
  <div class="card shadow-lg border-0" style="margin-top: 80px; border-radius: 20px;">
    <div class="card-body p-4">
      <%= month_calendar(events: @calendar_events, attribute: :start_time, end_attribute: :end_time) do |date, events| %>
        <div class="day-cell">
          <strong><%= date.day %></strong>
          <% events.each do |event| %>
            <div class="event-pill mt-1">
              <%= link_to @calendar_events.count, calendar_event_path(event), class: "text-decoration-none", style: "color: white;" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
